In [24]:
import calendar

year = 1999

cal = calendar.TextCalendar(calendar.SUNDAY)  
for month in range(1,2):    
    print(cal.formatmonth(year, month))

    January 1999
Su Mo Tu We Th Fr Sa
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
31

In [32]:
n=13

if n>1:
    for i in range(2,n//2+1):
        if n%i==0:
            print('not a prime')
            break
    else:
        print('prime')
else:
    print('not prime')

prime

In [33]:
for i in range(10):
    print(i,'-->',i**2)

0 --> 0
1 --> 1
2 --> 4
3 --> 9
4 --> 16
5 --> 25
6 --> 36
7 --> 49
8 --> 64
9 --> 81

In [37]:
l=[]
for i in range(5,50):
    if i%5==3:
        l.append(i)
print(l)
print(set(l))

[8, 13, 18, 23, 28, 33, 38, 43, 48]
{33, 38, 8, 43, 13, 48, 18, 23, 28}

In [38]:
for i in range(1.0,10.0):
    print(i,type(i))

TypeError: 'float' object cannot be interpreted as an integer

In [42]:
a='python programmer! - 1984'
s=''
for i in a:
    s+=i.upper()
print(s)

PYTHON PROGRAMMER! - 1984

In [43]:
a='python programmer! - 1984'
s=''
for i in range(len(a)):
    s+=a[i].upper()
print(s)

PYTHON PROGRAMMER! - 1984

In [51]:
a=['hello',4,56.7,'z',[1,2,3],{'a':27,'b':98}]
for i in a:
    print(i,'<<--------->>',type(i))

hello <<--------->> <class 'str'>
4 <<--------->> <class 'int'>
56.7 <<--------->> <class 'float'>
z <<--------->> <class 'str'>
[1, 2, 3] <<--------->> <class 'list'>
{'a': 27, 'b': 98} <<--------->> <class 'dict'>

In [54]:
a=['hello',4,56.7,'z',[1,2,3],{'a':27,'b':98}]
for i in a:
    if type(i) == type(1) :
        print(i)

4

In [56]:
a={'1',2,'3',4,5}
for i in a:
    print(i,'-----' ,int(i)-65)

3 ----- -62
2 ----- -63
4 ----- -61
5 ----- -60
1 ----- -64

In [64]:
d={1:'one','2':4+6j,56.9:'age',4:[1,'h','z']}
for i in d:
    print(str(i)+ ' ' *3  +':'+' '*3+str(d[i]))

1   :   one
2   :   (4+6j)
56.9   :   age
4   :   [1, 'h', 'z']

In [66]:
i=False
a=5
while i!=True:
    print(f'WELCOME.....!--{a}')
    if a==0:
        i=True
    a-=1

WELCOME.....!--5
WELCOME.....!--4
WELCOME.....!--3
WELCOME.....!--2
WELCOME.....!--1
WELCOME.....!--0

In [67]:
n=5
while n!=0:
    print(n)
    n=n-1

5
4
3
2
1

In [84]:
import datetime

def function_one():
    current_datetime = datetime.datetime.now()
    before_time=current_datetime.time()
    print(before_time)
    print('inside function')
    current_datetime = datetime.datetime.now()
    after_time=current_datetime.time()
    print(after_time)
    
function_one()

11:36:33.928578
inside function
11:36:33.929047

In [87]:
def add(x,y):
    a=x+y
    return a
    b=x-y
    return b
add(10,20)

In [89]:
x=lambda x,y:x+y
print(x(5,10))

15

In [98]:
def mull(n):
    return n*n
l=[1,2,3,4,5,6,7,8,9,10]    

a= map (mull,l)
list(a)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [101]:
def even(n):
    if n%2==0:
        return True
    else:
        return False
n=[1,2,3,4,5,6,7,8,9,10]    

x=filter(even,n)
list(x)

[2, 4, 6, 8, 10]

In [102]:
a,b=10,20
x=lambda x,y:x+y
x(a,b)

30

In [104]:
def lam(a,b):
    return a+b
lam(10,20)

30

In [108]:
def val(a,b,c):
    print(a,b,c)
val(3,2,3)

3 2 3

In [110]:
def val(a,b,c):
    print(a,b,c)

val(a=3,b=2,c=1)

3 2 1

In [116]:
def val(a=0):
    print(a)
l=[1,2,3,4,5]
for i in l:
    val(i)

1
2
3
4
5

In [117]:
def fun(a):
    return type(a)
l=[1,2,3,4]
list(map(fun,l))

[int, int, int, int]